# Windows build stuff
*.exe
*.ilk
*.obj
*.pdb

# config.mak is intended to be customized based on the build machine
config.mak

# pyroscaphe.js is generated at build time
www/pyroscaphe.js
